<div class="p-3 mb-5 bg-secondary fixed-top shadow-sm">
<ul class="  pe-5 justify-content-end nav nav-tabs">
  <button routerLink="/home" routerLinkActive="active" class="nav-link active me-2 ">Home</button>
  <button routerLink="/portfolio" routerLinkActive="active" class="me-2 nav-link">Portfolio</button>
  <button routerLink="/about" routerLinkActive="active" class="me-2 nav-link">About Us</button>
  <button routerLink="/contact" routerLinkActive="active" class="me-2 nav-link">Contact</button>
</ul>
</div>
